RewriteEngine On
RewriteRule ^login/([^/]+)/([^/]+) login.php?usuario=$1&senha=$2
RewriteRule ^emulador/([^/]+)/([^/]+) emulador.php?usuario=$1&senha=$2
RewriteRule ^logs/([^/]+)/([^/]+)/([^/]+) logs.php?usuario=$1&senha=$2&limite=$3
RewriteRule ^status/([^/]+)/([^/]+) status.php?usuario=$1&senha=$2
RewriteRule ^chat/([^/]+)/([^/]+) chat.php?usuario=$1&senha=$2
RewriteRule ^hotellogs/([^/]+)/([^/]+)/([^/]+) hotellogs.php?log=$1&usuario=$2&senha=$3
RewriteRule ^alert/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+) alert.php?alert=$1&user=$2&usuario=$3&senha=$4&mensagem=$5
RewriteRule ^userson/([^/]+)/([^/]+) userson.php?usuario=$1&senha=$2
RewriteRule ^quartos/([^/]+)/([^/]+) quartos.php?usuario=$1&senha=$2
RewriteRule ^registrados/([^/]+)/([^/]+) registrados.php?usuario=$1&senha=$2
RewriteRule ^staffson/([^/]+)/([^/]+) staffson.php?usuario=$1&senha=$2
RewriteRule ^loginstaff/([^/]+)/([^/]+)/([^/]+)/([^/]+) loginstaff.php?usuario=$1&senha=$2&userlg=$3&senhalg=$4
RewriteRule ^getranks/([^/]+)/([^/]+) getranks.php?usuario=$1&senha=$2
RewriteRule ^rank/([^/]+)/([^/]+)/([^/]+)/([^/]+) rank.php?usuario=$1&senha=$2&userlg=$3&rank=$4
